.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: start;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header a {
  color: white;
  text-decoration: none;
  padding: 1em;
}

.colorBtn {
  display: flex;
  padding: 1em;
}
.colorBtn button {
  padding: 0.5em 1em;
  margin-right: 1em;
  border-radius: 0.5em;
}
.mainContainer {
  padding: 2em;
}
h1 {
  margin-bottom: 3em;
}
